.main-section {
    display: block;
}

#search-p {
    text-align: center;
    width: 40%;
    margin: auto;
}

#google-logo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0%;

}

#search-bar {
    padding: 4px;
    margin: auto;
    text-align: left;
    background-color: white;
    border-radius: 3px;
}

.button {
    padding: 10px;
    border-radius: 3px;
}

.article-g {
    display: block;
    text-align: center;
    background-color: gainsboro;
    margin: 0% 15%;
    padding: 10px;
}

#triple-box {
    margin: 0.5% 15%;
    max-width: 80%;
    max-height: 200px;
    display: flex;
    flex: auto;
    justify-content: space-between;
}

.green-box {
    background-color: rgb(61, 194, 194);
    border: solid white 2px;
    padding: 10px 30px;
    flex: auto;
}

a {
    display: flex;
    flex-direction: column;
}